<nav>
    <div class="nav-wrapper cyan">
            <a href="/" class="grey-text text-darken-4 brand-logo ">Tech News</a>
            <a href="#!" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down ">
                <li id="home"><a class="grey-text text-darken-4 " href="/">Home</a></li>
                <li id="saved"><a class="grey-text text-darken-4 " href="/saved">Saved Articles</a></li>
                <li id="scrape-button"><a href="/scrape" type="a" class="grey lighten-1 grey-text text-darken-4 btn waves-light">Scrape News Articles</a></li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li id="home"><a href="/">Home</a></li>
                <li id="saved"><a href="/saved">Saved Articles</a></li>
                <li id="scrape-button"><a href="/scrape" type="a" class="grey lighten-1 btn waves-light">Scrape News Articles</a></li>
            </ul>
    </div>
</nav>
<br>
