{{> navbar}}


<div class="container">{{> indexNews}}</div>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Article Saved!</h4>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Okay</a>
  </div>
</div>

<script type="text/javascript">
    window.onload = function() {
        document.getElementById('home').classList.add('active');
    }
</script>