{{> navbar}}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Your News</h1>
        <p class="lead">Let's get the news you care about!</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
    {{> indexNews}}
</div>

<script type="text/javascript">
    window.onload = function() {
        document.getElementById('home').classList.add('active');
        document.getElementById('notes').classList.add('hide');
        document.getElementById('delete').classList.add('hide');
    }
</script>