{{> navbar}}

<div class="container">
{{> savedNews}}
</div>


<script type="text/javascript">
    window.onload = function() {
        document.getElementById('saved').classList.add('active');
        document.getElementById('scrape-button').classList.add('hide');
    }
</script>
