<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tech News Mongo Scraper</title>
  <!-- Material Icon CDN -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- Your custom styles -->
  <link rel="stylesheet" href="css/style.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      }
    main {
      flex: 1 0 auto;
    }
    .navbar .nav-wrapper .brand-logo {
    height: 64px !important;
    }
  </style>
</head>
<main>
    
        {{{body}}}

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  {{!-- isotope CDN --}}
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <!-- Materialize JS CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="app.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    var grid = $('.row').isotope({
        // options... 
        itemSelector: '.news',
        masonry: {
          horizontalOrder: true
        }
      });
    $(".button-collapse").sideNav();
    $("#modal1").modal();
  });
  </script>

</main>
</html>

